body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.footer .info {
    margin-top: 20px;
    display: inline-block;
}

.table-clear,
.table-clear td,
.table-clear th {
    border: 0 !important;
    background: none !important;
}