@import "bootstrap";

/* === Globals === */

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.footer .info {
  margin-top: 20px;
  display: inline-block;
}

.table-clear {
  &, td, th {
    border: 0 !important;
    background: none !important;
  }
}

/* === Specific === */

#system-frame {
  width: 100%;
  height: 100%;
  border: 0;
  background: none;
}